:root {
    --cor-de-fundo: #000000
}

body {
    background-color: var(--cor-de-fundo);
}

.titulo {
    background-color: #000000 ;
    color: white;
    display: flex;
    justify-content: space-around ;
    padding: 30px;
}

.titulo-item{
    font-size: 42px;
}

.sobre{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}
.texto {
    font-size: 19px;
    text-align: center;
}
.conquistas {
    width: auto;
    margin: auto;
    position: relative;
    color: white;
}
.conquistas img {
    width: 100%;
}
.primeiro {
    position: absolute;
    top: 1%; 
    left: 5%;
    right: 5%;
    text-align: center;
    padding: 10px;
    font-size: 23px;
}
.segundo {
    position: absolute;
    top: 16%;
    left: 2%;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}
.terceiro {
    position: absolute;
    top: 16%;
    right: 2%;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}
.quarto {
    position: absolute;
    top: 45%;
    left: 2%;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}
.quinto {
    position: absolute;
    top: 45%;
    right: 2%;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}
.sexto {
    position: absolute;
    top: 74%;
    left: 1%;
    text-align: left;
    padding: 25px;
    font-size: 15px;
} 
.setimo {
    position: absolute;
    top: 75%;
    right: 2%;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}
.oitavo {
    position: absolute;
    top: 10px;
    text-align: center;
    padding: 20px;
    font-size: 19px;
}

.linha {
    position: absolute;
    top: 99px;
    text-align: center;
    font-size: 37px;
    color: red;
    padding: 25px;
    margin: -4%;
}

.baixo {
    position: relative;
    color: white;
}

.mulheres {
    position: absolute;
    top: 200px;
    text-align: left;
    padding: 27px;
    font-size: 16px;
    margin: -2%;
}

.mulher {
    position: absolute;
    top: 142px;
    text-align: center;
    padding: 27px;
    font-size: 16px;
    margin: -2%;
}

.fim {
    position: absolute;
    top: 510px;
    text-align: center;
    font-size: 18px;
    left: 2%;
    right: 2%;
}

.rodape {
    position: absolute;
    bottom: 10%;
    top: 580px;
    left: 25%;
    right: 25%;
    font-size: 15px;
    text-align: center;
}